<div class="container margin-from-top centered">
    <div>
        <img src="/images/about.png" alt="about pic">
    </div>
    <div>
        <h2>Welcome to Ponyo! You can make friends <a href="/users/login">here!</a></h2>
    </div>
</div>