<div class="container text-center center-container margin-from-bottom">
    <div class="row">
        <div class="col-sm-3 card">
            <div class="card">
                <div class="card-body">
                    <div class="h3">Dummy</div>
                    <div class="h5 text-muted">@Dummy</div>
                    <img src="images/avatar.jpg" class="rounded-circle center" height="100" width="100" alt="Avatar">
                    <br>
                    <p><a href='#' class="h4">My Profile</a></p>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <p><a href='#' class="h4">Follower</a></p>
                    <div class="h4">5</div>
                </li>
                <li class="list-group-item">
                    <p><a href='#' class="h4">Following</a></p>
                    <div class="h4">20</div>
                </li>
                <li class="list-group-item">
                    <p><a href='#' class="h4">Notifications</a></p>
                </li>
                <li class="list-group-item">
                    <p><a href='#' class="h4">Messages</a></p>
                </li>
            </ul>
        </div>

        <div class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                                aria-controls="posts" aria-selected="true">Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images"
                                aria-selected="false" href="#images">Images</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" id="message" rows="3"
                                    placeholder="What's new?"></textarea>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Upload image</label>
                                </div>
                            </div>
                            <div class="py-4"></div>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-end">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">share</button>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-start">
                        <div>
                            <img class="rounded-circle" width="45" src="images/avatar.jpg" alt="">
                        </div>
                        <div>
                            <div class="h5">@Dummy</div>
                            <div class="h7 text-muted">Dummy</div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7">10 min ago</div>
                    <p class="card-text">
                        Considered discovered ye sentiments projecting entreaties of melancholy is.
                        In expression an solicitude principles in do. Hard do me sigh with west same
                        lady. Their saved linen downs tears son add music. Expression alteration
                        entreaties mrs can terminated estimating. Her too add narrow having wished.
                        To things so denied admire. Am wound worth water he linen at vexed.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Like</a>
                    <a href="#" class="card-link">Comment</a>
                    <a href="#" class="card-link">Share</a>
                </div>
            </div>

            <br>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-start">
                        <div>
                            <img class="rounded-circle" width="45" src="images/avatar.jpg" alt="">
                        </div>
                        <div>
                            <div class="h5">@Dummy</div>
                            <div class="h7 text-muted">Dummy</div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7">20 min ago</div>
                    <p class="card-text">
                        Considered discovered ye sentiments projecting entreaties of melancholy is.
                        In expression an solicitude principles in do. Hard do me sigh with west same
                        lady. Their saved linen downs tears son add music. Expression alteration
                        entreaties mrs can terminated estimating. Her too add narrow having wished.
                        To things so denied admire. Am wound worth water he linen at vexed.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Like</a>
                    <a href="#" class="card-link">Comment</a>
                    <a href="#" class="card-link">Share</a>
                </div>
            </div>

            <br>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-start">
                        <div>
                            <img class="rounded-circle" width="45" src="images/avatar.jpg" alt="">
                        </div>
                        <div>
                            <div class="h5">@Dummy</div>
                            <div class="h7 text-muted">Dummy</div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7">2 hour ago</div>
                    <p class="card-text">
                        Considered discovered ye sentiments projecting entreaties of melancholy is.
                        In expression an solicitude principles in do. Hard do me sigh with west same
                        lady. Their saved linen downs tears son add music. Expression alteration
                        entreaties mrs can terminated estimating. Her too add narrow having wished.
                        To things so denied admire. Am wound worth water he linen at vexed.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Like</a>
                    <a href="#" class="card-link">Comment</a>
                    <a href="#" class="card-link">Share</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <br>


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Trending hashtags</h5>
                    <ul class="list-unstyled text-small">
                        <li class="list-group-item"><a class="link-secondary" href="#">1. #CSCI4800</a></li>
                        <li class="list-group-item"><a class="link-secondary" href="#">2. #WebDev</a></li>
                        <li class="list-group-item"><a class="link-secondary" href="#">3. #BootStrap</a></li>
                        <li class="list-group-item"><a class="link-secondary" href="#">4. #JavaScript</a></li>
                        <li class="list-group-item"><a class="link-secondary" href="#">5. #CSS</a></li>
                        <li class="list-group-item"><a class="link-secondary" href="#">6. #2021</a></li>
                        <li class="list-group-item"><a class="link-secondary" href="#">7. #Dota2</a></li>
                        <li class="list-group-item"><a class="link-secondary" href="#">8. #WoWClassicTBC</a></li>
                        <li class="list-group-item"><a class="link-secondary" href="#">9. #Barca</a></li>
                    </ul>
                </div>
            </div>
            <br>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Who to follow</h5>
                    <ul class="list-unstyled text-small">
                        <li class="list-group-item">
                            <img src="images/avatar.jpg" class="rounded-circle" height="25" width="25" alt="dummy">
                            <a class="link-secondary" href="#">@Dummy1</a>
                            <button type="button" class="btn btn-primary btn-sm">Follow</button>
                        </li>
                        <li class="list-group-item">
                            <img src="images/avatar.jpg" class="rounded-circle" height="25" width="25" alt="dummy">
                            <a class="link-secondary" href="#">@Dummy2</a>
                            <button type="button" class="btn btn-primary btn-sm">Follow</button>
                        </li>
                        <li class="list-group-item">
                            <img src="images/avatar.jpg" class="rounded-circle" height="25" width="25" alt="dummy">
                            <a class="link-secondary" href="#">@Dummy3</a>
                            <button type="button" class="btn btn-primary btn-sm">Follow</button>
                        </li>
                    </ul>
                    <a class="link-secondary" href="#">Show more</a>
                </div>
            </div>

        </div>

    </div>
    <br><br>